/* Hero Section */

.Hero-heading{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
.Hero-pragraph{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1rem;
    color: white;
    font-weight:400;
}


/* Media Query */

@media (max-width: 640px) {
  .break {
    display: none;
  }
}